.authorization {
  &__page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc(100% - 130px);
    width: 100%;
  }

  &__form {
    border: 0px;
    height: 620px;
    width: 500px;
    display: flex;
    font-family: 'Roboto';
    background-color: white;
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
  
    &-title {
      font-size: 50px;
      font-weight: 300;
    }

    &-user {
      font-family: 'Roboto';
      font-size: 23px;
      font-weight: 300;
      align-self: flex-end;
      padding: 10px 60px;
      margin-top: 50px;
      margin-right: 40px;
      border: 1px solid rgb(148, 145, 145);
      border-radius: 5px;
      background-color: white;
    
      &:hover {
        cursor: pointer;
        background-color: rgb(224, 222, 222);
      }
    
      &:active {
        transform: scale(1.05);
      }
    }
    
    &-text {
      align-self: flex-start;
      font-size: 23px;
      font-weight: 300;
      margin-left: 40px;
      margin-bottom: 15px;
    }
  
    &-enter-info {
      height: 50px;
      width: 380px;
      border: 1px solid rgb(148, 145, 145);
      border-radius: 5px;
      padding-left: 30px;
      font-size: 23px;
    }
  }
}

.img {
  &__logo {
    height: 600px;
    width: 700px;
    margin-top: 80px;
  }
}

.do-redirection-registration {
  align-self: flex-end;
  color: black;
  margin-right: 40px;
  margin-top: 30px;
  text-decoration: none;
  font-size: 25px;
}