// .meetings-info {
//   margin: 35px 30px 0px 30px;

//   &__list {
//     outline: 1px solid black;
//     height: 510px;
//     background-color: white;
//     display: flex;
//     flex-direction: column;
//     overflow: auto;
//   }
// }

// .info-headers { 
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   height: 85px;
//   background-color: #c4c4c4;
//   font-size: 25px;

//   box-shadow: -1px 0px 0px 0px #c4c4c4, 1px 0px 0px 0px #c4c4c4;

//   &__patient-name,
//   &__doctor-name,
//   &__meeting-date,
//   &__patient-complaints {
//     width: 25%;
//     display: flex;
//     justify-content: center;
//   }

//   &__meeting-date {
//     width: 15%;
//   }

//   &__patient-complaints {
//     width: 23%;
//   }

//   &__edit-or-delete {
//     width: calc(12% + 18px);
//   }
// }

// .table {
//   border-collapse: collapse;
//   width: calc(100% - 0px);

//   &-cell {
//     &__patient {
//       &-name,
//       &-complaints {
//         padding: 35px 0px 10px 0px;
//         border-right: 1px solid black;
//         vertical-align: top;
//         text-align: center;
//         font-size: 25px;
//         width: 25%;
//       }
  
//       &-complaints {
//         width: 23%;
//       }
//     }
  
//     &__doctor-name,
//     &__meeting-date {
//       padding: 35px 0px 10px 0px;
//       border-right: 1px solid black;  
//       vertical-align: top;
//       text-align: center;
//       font-size: 25px;
//       width: 25%;
//     }
  
//     &__meeting-date {
//       width: 15%;
//     }

//     &__edit-or-delete {
//       width: 100%;
//       display: flex;
//       flex-direction: row;
//       align-items: center;
//       justify-content: center;
//     }
//   }
// }

// .button {
//   &__delete-meeting,
//   &__edit-meeting
//   {
//     display: flex;
//     border: 0px;
//     height: 24px;
//     width: 24px;
//     background: none;
//     margin: 35px 20px 10px 20px;
//     flex-direction: row;
  
//     &:hover {
//       cursor: pointer;
//     }
//   }

//   &__img {
//     height: 25px;
//     width: 25px;
//   }
// }