header {
  position: relative;
  display: flex;
  height: 150px;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  background-color: #C5E9FF;
  font-size: 35px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
  &__logo {
    flex: 1;
    margin-left: 40px;
    margin-right: 100px;
    height: 130px;
  } 

  &__title {
    flex: 5 5 50%;
    font-weight: 300;
  }
}

.user {
  &-authorized {
    margin-right: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &-unauthorized {
    display: none;
  }
}

.button {
  &__logout {
    display: flex;
    flex-direction: row;
    font-size: 35px;
    font-weight: 100;
    padding: 10px 60px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  
    &:hover {
      cursor: pointer;
      background-color: rgb(224, 222, 222);
    }
  }
}